:root{
  --colorA: #30F4FD;
  --colorB: #73FFD7;
  --colorC: #00C9FF;
}
.oswald{
  font-family: 'Oswald', sans-serif;
}
.lobster{
  font-family: 'Lobster', cursive;
}
.middle{
  text-align: center;
}
body{
  font-family: 'Lobster', cursive !important;
}