:root{
  --colorA: #30F4FD;
  --colorB: #73FFD7;
  --colorC: #00C9FF;
}
.oswald{
  font-family: 'Oswald', sans-serif;
}
.lobster{
  font-family: 'Lobster', cursive;
}
.middle{
  text-align: center;
}
body{
  font-family: 'Lobster', cursive !important;
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.7rem !important;
  color: darkcyan;
  border-radius: 20%;
  border: 0.1rem solid darkcyan !important;
}
.btn-black:hover{
  background: darkcyan !important;
  color: white !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: crimson;
}